.jobDescription{
    height: 100vh;
    overflow: auto;
}
.companyName{
    display: flex;
    padding: 20px;
}
.uppernav{
    margin-top: 20px;
}
.navbar-links{
    margin-top: 10px;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px; 
}
hr{
    width: 95%;
}
.nav-link:hover{
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 2px 3px;
}

