@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.navigation-container{
    width: 15%;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13vh;
}
nav ul li{
    list-style-type: none;
}
.nav-links{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 5px 5px;
}
.nav-links:hover , .active{
    background-color: purple;
    color: white;  
}
.navigation-container h1{
    font-family: 'Fredoka One', cursive;
    color: yellow;
    margin-top: 50px;
    cursor: pointer;  
}
