@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.App{
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.header{
    width: 90%;
    height: 60px;
    background-color: whitesmoke;
    font-family: 'Fredoka One', cursive;
    margin: 0 auto;
    color: orangered;
    padding: 10px 10px;
    cursor: pointer;
}
.header h1{
    margin-left: 50px;
}
.footer{
    width: 90%;
    height: 30px;
    background-color: whitesmoke;
    padding: 10px 10px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;  
}